extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner WHATABYTE
        div.Message
            div.Title
                h3 This is a web test
                h1 Made by Naara
            span.Details Access the WHATABYTE Team Portal
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!
